TMDB_API_KEY=<PUT_YOUR_TMDB_API_KEY_HERE>
TMDB_LANGUAGE=uk-UA
TMDB_FALLBACK_LANGUAGE=en-US
TELEGRAM_BOT_TOKEN=<PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE>
API_BASE_URL=http://api:8000
SCRAPER_BASE_URL=<PUT_YOUR_SCRAPER_URL_HERE>                                                                                                                                                                                      │
SELENIUM_URL=http://selenium:4444/wd/hub

POSTGRES_USER=movies
POSTGRES_PASSWORD=movies
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=movies_db